* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5rem;
}

#main {
  overflow: hidden;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.clear {
  clear: both;
}

.header {
  width: 100%;
  height: 46px;
  background: #000;
  position: fixed;
  z-index: 1;
}
.header .navbar-list {
  display: flex;
  float: left;
}
.header .navbar-list--item {
  display: block;
  position: relative;
}
.header .navbar-list--item:hover a {
  background: #ccc;
  color: #000;
}
.header .navbar-list--item:hover i {
  color: #000;
}
.header .navbar-list--item a {
  color: #fff;
  padding: 15px 24px;
  line-height: 48px;
}
.header .navbar-menumega {
  display: none;
  position: absolute;
  background: #fff;
}
.header .navbar-menumega li {
  width: 100%;
}
.header .navbar-menumega li:hover {
  background-color: #ccc;
}
.header .navbar-menumega li a {
  color: #000;
  width: 100%;
}
.header .navbar-arrow-down {
  color: #fff;
  font-size: 12px;
}
.header .search-btn {
  display: flex;
  float: right;
  line-height: 48px;
  padding: 0 24px;
}
.header .search-btn:hover {
  background: red;
}
.header .search-btn i {
  color: #fff;
  font-weight: bold;
}

.navbar-more:hover .navbar-menumega {
  display: block;
}

.silders {
  width: 100%;
  margin: auto;
  position: relative;
}
.silders img {
  width: 100%;
}
.silders-dec {
  position: absolute;
  text-align: center;
  left: 500px;
  top: 570px;
  color: #fff;
}
.silders-dec h3 {
  font-size: 1.4rem;
  margin-bottom: 20px;
}
.silders-dec span {
  font-weight: bold;
}

.band {
  margin-top: 60px;
}
.band-content {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
.band .section-heading {
  font-size: 30px;
  margin-bottom: 20px;
  letter-spacing: 4px;
  text-align: center;
  font-weight: 450;
}
.band .section-sub-heading {
  margin-bottom: 20px;
  opacity: 0.6;
  font-size: 15px;
  text-align: center;
  font-style: italic;
}
.band .about-text {
  font-size: 15px;
  text-align: justify;
  line-height: 1.4;
}
.band .members-list {
  margin-top: 40px;
  padding-left: 340px;
}
.band .members-list .col {
  float: left;
}
.band .members-list .col .member-name {
  font-size: 15px;
  margin-left: 60px;
}
.band .members-list .col .member-img {
  width: 154px;
  margin-top: 15px;
  margin-right: 100px;
  border-radius: 5px;
}

.tour {
  background-color: #000;
  margin-top: 100px;
  height: 850px;
}
.tour-content {
  padding-top: 100px;
}
.tour-content-heading {
  color: #fff;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: 4px;
  font-size: 30px;
  font-weight: 400;
}
.tour-content-sub-heading {
  color: #fff;
  text-align: center;
  font-size: 15px;
  font-style: italic;
  opacity: 0.6;
}
.tour-date {
  height: 120px;
  width: 768px;
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  margin-top: 40px;
}
.tour-date-list {
  border-bottom: 1px solid #ccc;
  padding: 8px 16px;
}
.tour-date-list p {
  opacity: 0.6;
  float: left;
}
.tour-date-list__sold {
  color: #fff;
  background: rgb(240, 62, 62);
  padding: 3px 8px;
  margin-left: 20px;
}
.tour-date-list__number {
  background-color: #000;
  color: #fff;
  padding: 4px 8px;
  border-radius: 50%;
  margin-left: 600px;
}
.tour-date-list-11 {
  padding: 8px 16px;
}
.tour-date-list-11 p {
  opacity: 0.6;
  float: left;
}
.tour-img {
  margin-top: 40px;
  margin-left: 270px;
}
.tour-img-capital {
  float: left;
  width: 245px;
  height: 388px;
  background-color: #fff;
  margin-left: 18px;
}
.tour-img-capital img {
  width: 245px;
  height: 183px;
}
.tour-img-content {
  padding-left: 15px;
}
.tour-img-content h3 {
  font-size: 15px;
  padding-bottom: 15px;
}
.tour-img-content button {
  margin-top: 12px;
  padding: 8px 12px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
}
.tour-img-content:hover .btn {
  background-color: #ccc;
  color: #000;
  border: #ccc;
}
.tour-img-content__heading {
  padding-top: 10px;
  font-weight: 800;
}

.contact {
  padding-top: 80px;
}
.contact h1 {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 300;
  letter-spacing: 4px;
  font-size: 30px;
}
.contact h3 {
  text-align: center;
  font-weight: 400;
  opacity: 0.6;
  font-style: italic;
  font-size: 15px;
}
.contact-content {
  width: 768px;
  height: 223px;
  margin-left: 285px;
  margin-top: 50px;
}
.contact-info {
  float: left;
  margin-right: 150px;
}
.contact-info i {
  padding-right: 12px;
  font-size: 20px;
  font-weight: bold;
}
.contact-info p {
  font-size: 20px;
  line-height: 1.5rem;
  padding-bottom: 5px;
}
.contact-btn {
  padding: 8px 14px;
  color: #fff;
  font-weight: 500;
  background-color: #000;
  font-size: 16px;
  float: right;
}
.contact-btn:hover {
  color: #000;
  background: #ccc;
  border: #ccc;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
  display: none;
}
.modal-body {
  padding: 16px;
}
.modal-label {
  display: block;
  font-size: 15px;
}
.modal-input {
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin-bottom: 24px;
}

.modal-container {
  background-color: #fff;
  width: 900px;
  min-height: 200px;
  position: relative;
}

.modal-header {
  background: #009688;
  height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  color: #fff;
}
.modal-header .ti-bag {
  margin-right: 16px;
}

.modal-close {
  position: absolute;
  right: 0;
  top: 0;
  color: #fff;
  padding: 12px;
  cursor: pointer;
  opacity: 0.8;
}
.modal-close:hover {
  opacity: 1;
}

#buy-tickets {
  background: #009688;
  border: none;
  color: #fff;
  width: 100%;
  font-size: 15px;
  text-transform: uppercase;
  padding: 18px;
  cursor: pointer;
}
#buy-tickets:hover {
  opacity: 0.9;
}

.modal-footer {
  padding: 0.9;
  text-align: right;
}
.modal-footer a {
  color: #009688;
}

.open {
  display: flex;
}

#footer {
  text-align: center;
  margin-top: 60px;
  margin-bottom: 60px;
}
#footer .socials-list {
  font-size: 20px;
  padding-bottom: 20px;
}
#footer .socials-list i {
  color: rgb(117, 115, 115);
}
#footer .copy-right {
  color: rgb(117, 115, 115);
}
#footer .copy-right a {
  color: rgb(117, 115, 115);
  text-decoration: underline;
}

/*# sourceMappingURL=style.css.map */
